body{
    text-align: center;
}

.galeria-lulu h1{
    text-align: center;
    color: azure;
    padding: 1rem;
}

.linea{
    border-top: 0.1rem solid #ffffff;
}
.conten-img{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 1rem;
    
}

.imagenes{
    
    width: 32%;
    padding: 1rem;
    position: relative;
    height: 250px;
    margin-bottom: 0.5rem;
}
.imagenes img{
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    object-fit: cover;
}

.boton{
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.boton:hover{
    cursor: pointer;
}

@media (max-width:768px){
    .conten-img{
        width: 90%;
    }
    .conten-img .imagenes{
        width: 40%;
    }
}
@media (max-width:450px){
    .conten-img{
        width: 90%;
    }
    .conten-img .imagenes{
        width: 40%;
    }
}
